.App {
  text-align: center;
  overflow: hidden;
}

.location-search {
  width: 50%;
  display: flex;
  z-index: 999;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.search-panel {
  min-width: 350px;
  padding: 10vh 1rem 2rem 1rem;
}

#koala-map {
  height: 90vh;
}
